*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   
   
}
.main-div{
    width: 100%;
    height: 100vh;
    background-color: rgb(129, 119, 119);
    padding-top:50px;
}
.inner-div{
    width: 90%;
    height: 450px;
    background-color:white;
    margin-left: 70px;
    
}
.nav-bar{
    width: 100%;
    height:50px;
    display: flex;
    
}
.part-1{
    width: 30%;
    list-style: none;
    padding-left: 50px;
    display: flex;
    align-items: center;
    color: gray;
}
.part-2{
    color: rgb(209, 203, 203);
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

/* ======middle part of UI (future livivng)==== */
.futuredesign{
    width: 100%;
    display: flex;
}
.futureliving{
    width: 50%;
    height:400px ;
    background-color:white;
    padding-left: 70px;
    padding-top: 50px;
}
.futureliving p{
    font-size:45px;
}
.futureliving h6{
    font-size: 16px;
    margin-top: 15px;
    color: rgb(173, 169, 169);

}
button{
    height: 40px;
    width: 130px;
    margin-top: 15px;
    border-style: none;
    font-size: 14px;
    background-color:#5B819D;
    color: WHITE;
}
.tag{
    margin-top: 30px;
   display: flex;
   color: rgb(173, 169, 169);


}
.div1{
    width: 100px;
    height:70px;
    border: 2px solid white;
    font-size: 16px;
}

.building-img{
    width: 50%;
    height: 400px;
    /* background-image: url(architecture-Image-1.jpg);
    background-position: center;
    background-size: cover; */
}
.building-img img{
    width: 100%;
    height: 400px;
}

/* =====footer section of ui====== */
.footer{
    width: 100%;
    height: 155px;
    background-color: hsl(0, 4%, 86%);
}
.ui{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
}
.ui-1{
    width: 260px;
    height:110px;
    border: 2px solid white;
    font-size: 16px;
    border-radius: 15px;
    margin-right: 30px;
    position: relative;
    background-color: white;

}
.ui-1 img{
    width: 95px;
    padding-top: 7px;
    position: absolute;
    left:150px;
    border-radius:10px;
}
.ui-1 h4{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 12px;
}
.ui-1 p{
    font-size: 13px;
    padding-left: 20px;
    padding-top:8px;
}
.ui-2{
    width: 260px;
    height:110px;
    border: 2px solid white;
    font-size: 16px;
    border-radius: 15px;
    margin-right: 30px;
    background-color: white;

}
.ui-2 img{
    width: 95px;
    height:98px;
    padding-top: 7px;
    position: absolute;
    left:710px;
    border-radius:10px;
}
.ui-2 h4{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 15px;
}
.ui-2 p{
    font-size: 13px;
    padding-left: 20px;
    padding-top:3px;
}
.ui-3{
    width: 260px;
    height:110px;
    border-radius: 15px;
    border: 2px solid white;
    font-size: 16px;
    background-color: white;

}
.ui-3 img{
    width: 95px;
    height:98px;
    padding-top: 7px;
    position: absolute;
    left:1000px;
    border-radius:10px;
}
.ui-3 h4{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 15px;
}
.ui-3 p{
    font-size: 13px;
    padding-left: 20px;
    padding-top:3px;
}